@model VeritabaniKatmani.Sporcular

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-md-4">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <a href="#">
                            <img class="rounded-circle mx-auto d-block" src="~/Image/@Html.DisplayFor(model => model.Resim)" alt="Card image cap" />
                        </a>
                        <div class="media-body">
                            <h2 class="text-light display-6">@Html.DisplayFor(model => model.Adi) @Html.DisplayFor(model => model.Soyadi)</h2>
                            <p>@Html.DisplayFor(model => model.Mevki)</p>
                        </div>
                    </div>
                </div>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-map-marker"></i>  @Html.DisplayFor(model => model.DogumYeri)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-calendar"></i> @Html.DisplayFor(model => model.DogumTarihi)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-phone"></i> @Html.DisplayFor(model => model.Telefon)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> @Html.DisplayFor(model => model.Email)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-th-large"></i> @Html.DisplayFor(model => model.StatuAdi)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-sort-numeric-asc"></i> @Html.DisplayFor(model => model.LisansNo)
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-users"></i> @Html.DisplayFor(model => model.TakimAdi)
                    </li>
                 
                    <li class="list-group-item">
                        <div class="list-group-item text-sm-center">
                            @Html.ActionLink("Sporcular", "Index", "Sporcular", null, new { @class = "btn btn-primary btn-lg" })
                        </div>
                    </li>
                </ul>

            </section>
        </aside>
       
    </div>
